
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.ValidationMessage("Result")
        @Html.Password("oldPass", null, new { @class = "form-control", placeholder = "Mật khẩu hiện tại" })
        @Html.Password("newPass", null, new { @class = "form-control", placeholder = "Mật khẩu mới" })
        @Html.Password("reNewPass", null, new { @class = "form-control", placeholder = "Nhập lại mật khẩu mới" })
        <input type="submit" name="name" value="Submit" class="btn btn-danger" />
    </div>
}